body {
	margin: 0;
	padding: 0;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000;
	font-size: 18px;
	font-weight: 200;
}

#wrapper {
	width: 500px;
	background: url('../image/trans_reverse.png');
	min-height: 100%;
	padding: 20px;
}

h1 {
	font-weight: 200;
	margin: 0;
}

h2, h3, h4 {
	font-weight: 200;
	margin: 0;
}

a {
    color: #0093D0;
}

pre {
	padding: 0px;
	font-size: 10px;
}

.code_wrapper {
	padding: 10px;
}